<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
  Resources:
    Private: 
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">

<f:for each="{agencies}" as="agency">
	<div class="tx-randombanners-item">
		<f:uri.action target="_blank" absolute="{agency.link}" additionalParams="onclick='return false;'">
			<f:image src="uploads/tx_aoe_references/pics/{agency.logo}" alt="{agency.name}" width="{conf.bannerWidth}" />
		</f:uri.action>
	</div>
</f:for>

</f:section>