<label for="displayedThisMonth">
	<f:translate key="tx_randombanners_domain_model_statistics.displayed_this_month" />
</label><br />
	<f:form.textbox property="displayedThisMonth" /><br />
<label for="clickedThisMonth">
	<f:translate key="tx_randombanners_domain_model_statistics.clicked_this_month" />
</label><br />
	<f:form.textbox property="clickedThisMonth" /><br />
<label for="displayedLastMonth">
	<f:translate key="tx_randombanners_domain_model_statistics.displayed_last_month" />
</label><br />
	<f:form.textbox property="displayedLastMonth" /><br />
<label for="clickedLastMonth">
	<f:translate key="tx_randombanners_domain_model_statistics.clicked_last_month" />
</label><br />
	<f:form.textbox property="clickedLastMonth" /><br />